
version: "3"
services:
  nginx:
      image: nginx:alpine
      ports:
        - "80:80"
      # Ensure the read and write access
      privileged: true
      volumes:
        - ./site/:/var/www/html/:rw
        - ./conf/nginx/conf.d:/etc/nginx/conf.d/:ro
        - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        - ./log/nginx/:/var/log/nginx/:rw
      links:
        - php56:fpm56
        - php72:fpm72
      networks:
        frontend:
          aliases:
           - php56site.com
           - php72site.com
  php56:
      build: ./php/php56/
      expose:
        - "9000"
      privileged: true
      volumes:
        - ./site/:/var/www/html/:rw
        - ./conf/php/php.ini:/usr/local/etc/php/php.ini:ro
        - ./conf/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:rw
        - ./log/php-fpm/:/var/log/php-fpm/:rw
      networks:
        - frontend

  php72:
      build: ./php/php72/
      expose: 
        - "9000"
      privileged: true
      volumes:
        - ./site/:/var/www/html/:rw
        - ./conf/php/php.ini:/usr/local/etc/php/php.ini:ro
        - ./conf/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:rw
        - ./log/php-fpm/:/var/log/php-fpm/:rw
      networks:
        - frontend

networks:
  frontend:
    driver: bridge
